@import "./index.css";

.contact-detail {
  display: block;
  position: absolute;
  height: fit-content;
  top: 30%;
  right: 50%;
  left: 20%;
  margin-bottom: 32px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 0.2);
}

.contact-img-wrapper {
  display: inline-block;
  height: 144px;
  width: 144px;
  margin-left: 48px;
}

.contact-img-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.name-info-wrapper {
  display: inline-block;
  vertical-align: top;
}

.name-info-wrapper #contact-name {
  margin: 0 32px;
  font-weight: bolder;
}

.name-info-wrapper #contact-info {
  margin: 0 32px;
}

.detail-label-wrapper {
  display: inline-block;
  margin-left: 48px;
}

.detail-label-wrapper h4 {
  margin-top: 8px;
  margin-bottom: 8px;
  float: right;
  clear: both;
}

.detail-wrapper {
  display: inline-block;
  left: auto;
  right: 0;
  margin-right: 32px;
  margin-left: 16px;
  vertical-align: top;
}

.detail-wrapper input,
textarea {
  font-family: "Cairo";
  font-size: 1em;
  font-weight: lighter;
  border: none;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  float: left;
  resize: none;
}

.detail-wrapper input:focus,
textarea:focus {
  outline: none;
}

.edit-icon-wrapper {
  height: 32px;
  margin-top: 8px;
}

.edit-icon {
  cursor: pointer;
  outline: none;
  float: right;
  clear: right;
  margin-left: 8px;
  margin-right: 8px;
}

.done-icon {
  display: inline-flex;
  cursor: pointer;
  outline: none;
  float: right;
  margin-left: 8px;
  margin-right: 8px;
}

.clear-icon {
  cursor: pointer;
  outline: none;
  float: right;
  margin-left: 8px;
  margin-right: 8px;
}
